WATCHLIST=0050,2344
DAILY_CANDIDATE_POOL=2330,2317,2454,2382,2308,3231,2603,2881
GENERATE_LLM_PROMPT=true
LOOKBACK_DAYS=480
ML_LOOKBACK_DAYS=960
ML_PREDICTION_HORIZON_DAYS=5
RECOMMENDATION_TOP_N=3
RECOMMENDATION_MIN_SCORE=65
REQUEST_TIMEOUT=20
